$sidebar-width: 350px;
$orange: #FF7300;
$light-orange: #FF9900;
$silver: #BEBEBE;
$black: #000;


html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#sidebar {
  display: block;
  height: 100%;
  max-width: 100%;
  float: left;
}

#sidebar,.panel-heading, .feature-row , .panel-body{
   width: $sidebar-width;
}

#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.thumbnail-background {
  width: 160px;
  height: 120px;
  white-space: nowrap;
  text-align: center;
}

.thumbnail-background-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img.feature-thumbnail {
  /* z-index: 5;
  position:absolute; */
  background: $light-orange;
  vertical-align: middle;
  max-height: 120px;
  max-width: 160px;
}

.thumbnail-loading {
  position: relative;
  z-index: 1;
  left:20%;
  top:45%;
}
.animated-icon{
  width: 20px;
  height: 20px;
  background-color: rgba(255,115,0,0.5);
  border-radius: 50%;
  box-shadow: 0px 0px 4px white;
  transition: all 1s;
}
#loading {
  position: absolute;
  color: $orange;
  top: 50%;
  left: 50%;
  z-index: 20001;
}
#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}
#sidebar-hide-btn {
  margin-top: -2px;
}
#aboutTabsContent {
  padding-top: 10px;
}
.progress-bar-full {
  width: 100%;
}
.orange {
  color: $orange;
}
.white {
  color: #FFFFFF;
}
.feature-row {
  cursor: pointer;
}
.autosearch {
  padding-top: 8px;
}
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.feature-modal-image-helper{
  
}
.sidebar-table {
  position: absolute;
  width: 100%;
  top: 125px;
  bottom: 45px;
  overflow-y: auto;
  overflow-x: hidden;
}
.table>tbody>tr>td, .table>tbody>tr>th, 
.table>tfoot>tr>td, .table>tfoot>tr>th, 
.table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
}

.sidebar-footer {
  height:45px;
  width:100%;
  position:absolute;
  bottom:0px;
  background-color:#F5F5F5;
  border-top:1px solid #ddd;
}

.sidebar-footer button {
  background-color: $silver;
  border-color: $silver;
  transition:background-color 0.25s, border-color 0.25s, color 0.25s;
  position:relative;
  width:80%;
  left:10%;
  margin-top:5px;
}

.sidebar-footer button:hover {
  color: white;
  background-color: #999999;
  border-color: #999999;
}

.table-hover>tbody>tr:hover {
  /* border: 2px solid $light-orange; */
	background-color: #F7DBC3;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.table {
  margin-bottom: 0px;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: $orange;
}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color: $silver;
}

.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}


.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}
.leaflet-control-container .leaflet-timeline-controls{
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
      }

.leaflet-timeline-controls button {
    padding:5%;
}



/*
Geolocation
*/

.leaflet-control-locate.active.following a {
  color: $orange;
}

/*
Geocoder
*/

div.leaflet-photon{
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
div.leaflet-photon input.photon-input{
  border:none;
}
.photon-input:focus {
    max-width: 300px;
    transition:width 0.5s;
    background-image: none;

}

.photon-input{
  width:34px;
  background-image: url(../img/geocoder.png);
  background-position: center;
  background-repeat: no-repeat;

}

/*
Slider (for year filtering)
*/
.slider-handle {
  cursor: pointer;
}

.slider.slider-horizontal {
  width: 80%;
  min-width:210px;
  margin-top: 40px;
  margin-left: 10%;
}

/*
Typeahead (not used currently)
*/
.typeahead {
  background-color: #FFFFFF;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}

.tt-suggestion {
    background-color: white;
}
.tt-suggestion.tt-cursor, .tt-suggestion:hover {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}

.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}



